<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Bootstrap homework</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 Header">
				<p class="Header-item">Header (position: fixed)</p>
			</div>
		</div>
		<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 Main">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 Main-leftPanel">
					<div class="Main-leftPanel-items">
						<div class="row">
							<p class="Main-text">left panel</p>
						</div>
						<div class="row">
							<ul class="Main-leftPanel-list">
								<li><a href="#">Item 1</a></li>
								<li><a href="#">Item 2</a></li>
								<li><a href="#">Item 3</a></li>
								<li><a href="#">Item 4</a></li>
								<li><a href="#">Item 5</a></li>
								<li><a href="#">Hover</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 Main-leftPanel-block">
							<p class="Main-text">Curabitur mollis pharetra placerat. Morbi tincidunt viverra neque nec scelerisque. Donec venenatis bibendum imperdiet. Quisque vehicula mi non nulla consectetur interdum. Vestibulum nec dolor ligula. Quisque aliquam, elit a consequat maximus, ex urna imperdiet tortor.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 Main-centerPanel">
					<div class="row">
						
						<div class="col-lg-10 col-md-10 col-sm-10 Main-centerPanel-textBlock">
						
							<div class="row">
								<h3 class="col-lg-8 col-md-8 col-sm-8">main content</h3>
							</div>
							
							<div class="row">
								<p class=" col-lg-12 col-md-12 col-sm-12 Main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis nulla in libero condimentum commodo. Donec sagittis erat posuere, efficitur nibh dignissim, ultricies lectus. Etiam imperdiet tincidunt diam ac dapibus.</p>
							</div>	
							
							<div class="row">
								<p class="col-lg-12 col-md-12 col-sm-12 Main-text">Curabitur mollis pharetra placerat. Morbi tincidunt viverra neque nec scelerisque. Donec venenatis bibendum imperdiet. Quisque vehicula mi non nulla consectetur interdum. Vestibulum nec dolor ligula. Quisque aliquam, elit a consequat maximus, ex urna imperdiet tortor.</p>
							</div>
							
							<div class="row">
								<p class="col-lg-12 col-md-12 col-sm-12 Main-text">Pellentesque massa neque, elementum sed odio quis, malesuada vehicula nisi. Donec rutrum erat eu ornare tincidunt. Sed et placerat nulla. Nulla congue sollicitudin lectus. Nullam bibendum ipsum quis lorem pellentesque, ut vestibulum sem ullamcorper. </p>
							</div>
							
							<div class="row">
								<p class="col-lg-12 col-md-12 col-sm-12 Main-text"> ex quam, volutpat rutrum vestibulum a, lacinia sit amet urna. Donec sagittis iaculis suscipit. Sed venenatis tristique ipsum, id vestibulum arcu aliquet nec. Vestibulum scelerisque accumsan dolor, et consectetur leo dapibus quis.</p>
							</div>
							
							<div class="row">
								<p class="col-lg-12 col-md-12 col-sm-12 Main-text">Vestibulum ac placerat leo. Phasellus fringilla lacus eu posuere posuere. Donec orci lectus, cursus sit amet ultricies et, tincidunt eget tellus. Nulla consequat ornare magna, non iaculis ligula fermentum viverra. Curabitur faucibus id tellus vel sodales. </p>
							</div>
						</div>
						
						<div class="col-lg-2 col-md-2 col-sm-2 Main-rightPanel">
							<p class="Main-text">Right panel</p>
						</div>
						
						<div class="row">
							<p class="col-lg-12 col-md-12 col-sm-12 Main-float">Mauris at eros sed lectus porta sodales quis in felis. Nullam ac efficitur arcu. Nullam nisi mauris, convallis et arcu ut, ultrices ultricies risus. Aliquam nibh diam, ullamcorper sed accumsan nec, vehicula non nulla. Nam eget interdum ante, ac varius elit.</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
		</div> 

		<div class="Footer">
			<p class="Footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis nulla in libero condimentum commodo. Donec sagittis erat posuere, efficitur nibh dignissim, ultricies lectus. Etiam imperdiet tincidunt diam ac dapibus.</p>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>